@page "/fetchdata"

@using Burgers.WebSPA.Data
@inject OrdersService OrdersService

<h1>Orders</h1>

<button class="btn btn-primary" @onclick="CreateOrder">Create Order</button>

@code {

    async Task CreateOrder()
    {
        await OrdersService.CreateOrder();
    }
}
