@page "/order"

@using Burgers.WebSPA.Data

@inject OrdersService OrdersService
@inject BasketService BasketService
 
@using Burgers.WebSPA.Components.Menu;

<h1>Order</h1>

<button class="btn btn-primary" @onclick="CreateOrder">Create Order</button>


<MenuItemCard 
    TitleText="Juicy Burger" 
    BodyText="Our original Juicey Burger that never fails the taste buds."
    ButtonText="Add to basket"
    OnButtonClick="AddItemToCustomerBasket"
/>


@code {

    async Task AddItemToCustomerBasket()
    {
        await BasketService.AddItemToCustomerBasket();
    }

    async Task CreateOrder()
    {
        await OrdersService.CreateOrder();
    }
}
